html,
body {
	margin: 0;
	padding: 0;
}

#main {
	background-image: url('images/tile.jpg');
	background-size: cover;
	height: 2290px;
	text-align: center;
	width: 100vw;
	margin-left: 0px;
	margin-bottom: 400px;
	font-family: 'Hind Siliguri', sans-serif;
	padding: 20px;
}

#content {
	background-color: rgb(232, 186, 145, 0.75);
	margin: 15px;
	padding: 10px;
}
#main-title {
	color: rgb(191, 70, 70);
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 40px;
}
#title {
	font-size: 18px;
	font-family: 'Hind Siliguri', sans-serif;
}

#date {
	text-align: left;
	font-size: 16px;
}

#desc {
	font-size: 15px;
	font-weight: 200;
}
.card {
	font-family: 'Hind Siliguri', sans-serif;
	background-color: rgba(242, 130, 130);
	padding-top: 10px;
	padding-bottom: 0px;
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
	transition: 0.4s;
	padding: 20px;
	color: white;
	margin: 20px;
	font-size: 12px;
}
#nav-bar {
	padding: 30px;
	margin: 100px;
	color: white;
	font-size: 18px;
	background-color: rgb(230, 184, 176);
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}

a {
	text-decoration: none;
	color: white;
}

@media (min-width: 800px) {
	#content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 6fr;
		grid-template-areas:
			'title title title title link1 link2'
			'topics blog1 blog2 blog3 blog4 blog4';
		font-family: 'Hind Siliguri', sans-serif;
	}

	#personal {
		grid-area: topic3;
	}

	#birth {
		grid-area: topic4;
	}

	.card {
		background-color: rgb(191, 70, 70);
		padding: 12px;
		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
		transition: 0.4s;
	}
	#card1 {
		grid-area: blog1;
	}
	#card2 {
		grid-area: blog2;
	}
	#card3 {
		grid-area: blog3;
	}

	.title {
		font-size: 17px;
	}

	.date {
		padding: 10px;
		text-align: left;
		font-size: 15px;
	}

	#blog1-content {
		padding: 10px 50px;
		font-size: 18px;
	}
	#go-to {
		font-style: italic;
		font-size: 17px;
		grid-area: Go;
	}

	#blogLayout {
		display: flex;
		flex-direction: column;
		padding: 10px 20px;
	}
	#similar-title {
		font-size: 18px;
		font-weight: bold;
	}
	#similar {
		display: flex;
		justify-content: space-around;
		font-size: 16px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.desc {
		font-size: 15px;
	}
}
