html, body {
    margin: 0; 
    padding: 0;
  }
  

#main {
	background-image: url('images/tile.jpg');
	background-size: cover;
	height: 100vh;
    text-align: center;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 400px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 20px;
   
}

#main-title {
	color: rgb(46, 134, 181);
	font-family: 'Hind Siliguri', sans-serif;
    font-size: 35px;
    text-align: center;
   margin: 40px;
    background-color: rgb(242, 203, 130);
    opacity: 70%;

}

#title {
    font-size: 25px;
    border: 3px solid white;
    margin-bottom: 100px;
    background-color: rgb(242, 203, 130);
    opacity: 80%;
    
}
#desc {
    font-size: 18px;
    font-weight: 200;
    border: 3px solid white;
    margin-bottom: 100px;
    background-color: rgb(242, 203, 130);
    opacity: 80%;
}

#tech {
    font-size: 18px;
    text-align: left;
    border: 3px solid white;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: rgb(242, 203, 130);
    opacity: 80%;
  
}
#types {
    border: 3px solid white;
    margin-bottom: 100px;
    background-color: rgb(242, 203, 130);
    opacity: 80%;
}

#tech-types {

}
#videos {
	display: block;

    color: white;
    padding: 40px;
	font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    margin-bottom: 100px;
}
#video {
    border: 3px solid white;
    margin-bottom: 100px;
    margin: 10px;
}

#project-video {
	grid-area: video;
	border: 2px solid blue;
	color: white;
    font-size: 12px;
    margin-bottom: 50px;
}
#nav {
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
@media (min-width: 800px) {
	#videos {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 2fr 2fr;
		color: white;
		height: 100vh;
		margin: auto;
		font-family: 'Hind Siliguri', sans-serif;
	}
}
