html, body {
    margin: 0; 
    padding: 0;
  }
  

#main {
	background-image: url('images/tile.jpg');
	background-size: cover;
	height: 100vh;
    text-align: center;
    width: 100vw;
    margin-bottom: 400px;
    font-family: 'Hind Siliguri', sans-serif;
    padding: 40px;
    color: white;
   
}
#bio-title {
    font-size: 16px;
    background-color: rgb(10, 87, 128);
    opacity: 75%;
    color: white;
    padding: 10px;
    font-family: 'Hind Siliguri', sans-serif;
   
}

#bio-body {
    font-size: 15px;
    background-color: rgb(242, 203, 130, .85);
    color: rgb(33, 113, 155);
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
#heading {
    padding: 20px 40px 10px 40px;
}

#photo-info {
    color: rgb(33, 113, 155);
}

a{
    text-decoration: none;
    color: rgb(33, 113, 155);
}

img {
    height: 335px;
    width: 250px;
}
#navContainer {
    padding: 0px 40px 40px 40px;
}

#navBar {
    display: grid;
    border: 3px dotted white;
    justify-content: space-between;
    grid-template-columns: 2fr 2fr;
    font-size: 17px;
    padding: 10px;
}

#contact-info {
    margin-top: 10px;
    border: 3px dotted white;
    padding: 0px;
    font-size: 16px;
}

#contact {
    padding: 0px;
}

@media (min-width: 800px) {
	#videos {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 2fr 2fr;
		color: white;
		height: 100vh;
		margin: auto;
		font-family: 'Hind Siliguri', sans-serif;
    }
    
    .nested {
        margin: auto;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            'top top'
            'nav video';
        border: 10px solid pink;
        background-image: url('images/tile.jpg');
    }
    
    #heading {
        grid-area: top;
        color: white;
        border: 2px solid green;
        color: white;
        font-size: 12px;
    }
    
    #navBar {
        color: white;
        grid-area: nav;
        font-size: 12px;
    }
    
    #project-video {
        grid-area: video;
        border: 2px solid blue;
        color: white;
        font-size: 12px;
    }
    a {
        color: rgb(208, 198, 198);
        text-decoration: none;
    }
}

