html,
body {
	margin: 0;
	padding: 0;
}

#main {
	background-image: url('images/tile.jpg');
	background-size: cover;
	height: 100vh;
	text-align: center;
	width: 100vw;
	margin-bottom: 400px;
	font-family: 'Hind Siliguri', sans-serif;
	padding: 40px;
	color: white;
}
#bio-title {
	font-size: 16px;
	background-color: rgb(10, 87, 128);
	color: white;
	padding: 10px;
	font-family: 'Hind Siliguri', sans-serif;
}

#bio-body {
	font-size: 15px;
	background-color: rgb(242, 203, 130, 0.85);
	color: rgb(33, 113, 155);
	padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
	transition: 0.4s;
}
#heading {
	padding: 20px 40px 10px 40px;
}

#photo-info {
	color: rgb(33, 113, 155);
}

a {
	text-decoration: none;
	color: rgb(33, 113, 155);
}

img {
	height: 335px;
	width: 250px;
}
#navContainer {
	padding: 0px 40px 40px 40px;
}

#navBar {
	display: grid;
	border: 3px dotted white;
	justify-content: space-between;
	grid-template-columns: 2fr 2fr;
	font-size: 17px;
	padding: 10px;
}

#contact-info {
	margin-top: 10px;
	border: 3px dotted white;
	padding: 0px;
	font-size: 16px;
}

#contact {
	padding: 0px;
}

@media (min-width: 800px) {
	#main {
		background-image: url('images/tile.jpg');
		background-size: cover;
		height: 100vh;
		text-align: center;
		width: 100vw;
		font-family: 'Hind Siliguri', sans-serif;
		color: white;
    }
    
	#bio-body {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr;
		grid-template-rows: 1fr 5fr;
		grid-template-areas:
			'top top top'
			'bio blogs projects';
        padding: 10px;
	}

	#top-grid {
		grid-area: top;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'name location links links';
    }

    #bio-title {
        grid-area: bio;
        margin: 10px;
	}

    #mid-first {
        background-color:#47a899;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
        transition: 0.4s;
        margin: 10px;
    }

    #blog-card {
        background-color:#c7e6aa;
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
        transition: 0.4s;
        color: white;
        grid-area: blogs;
        margin: 10px;
    }

    #project-card{
        background-color:rgb(211, 107, 140);
        box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
        transition: 0.4s;
        color: white;
        grid-area: projects;
        margin: 10px;
    }

    #contact-info {
		grid-area: links;
        border: none;
        border: 4px solid blue;
    }
    
	#name {
		grid-area: name;
    }
    #pic-div {
        grid-area: pic;
    }
	#pic {
        border-radius: 50%;
        height: 170px;
        width: 155px;
	
	}

	#brooke-details {
		grid-area: location;
	}

	#navBar {
		color: white;
		grid-area: nav;
		font-size: 12px;
	}

	#project-video {
		grid-area: video;
		border: 2px solid blue;
		color: white;
		font-size: 12px;
	}
	a {
		color: white;
		text-decoration: none;
	}
}
